@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: #bc9cb0;
    --secondary-color: #d3cdd7;
    --tertiary-color: #ddf2eb;
    --main-font: "Montserrat", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --darker-bkg:#000000;
    --align-center:center;
}

* {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
a, a:hover{
    text-decoration: none;
}

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;    
}

h1 {
    font-family: var(--main-font);    
}

form {
    margin: 0 auto;
    width: 650px;
}

fieldset {
    width:630px;
    border-color: var(--secondary-color);
}

legend {
    
}

.fw {
    font-weight:bold;
}

.p10 {
    padding: 10px;
}

.p20 {
    padding: 20px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.d-block {
    display:block;
}

.text-center {
    text-align: center;
}

.bg-secondary {
    background: var(--secondary-color);
}
.btn-primary {
    background-color:var(--darker-bkg);
    color:var(--tertiary-color);
}
.border-none {
    border:none;
}
.width-auto {
    width:auto !important;
}
.form-input {    
    padding: 15px 25px;
    width: 520px;
}
.form-row {

}
.number {
    background:var(--darker-bkg);
    color:var(--tertiary-color);
    width:21px;
    height:21px;
    display: inline-block;
    text-align: var(--align-center);
    border-radius: 50%;
}
