@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
main {
    max-width:840px;
    margin:0 auto;
}
main img {
    width:150px;
    height:auto;
}
aside {
    width:240px;
    margin:0;
    border:1px solid black;
    padding:5px 10px;
    background-color:#eDedcd;
    color:#000000;
}
aside img {
    width:200px;
    height:auto;
}
p {
    padding:0;
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Roboto;
}
h1 {
    font-family: "Madimi One";
}

nav {    
    padding:15px 10px;
    background:#000000;
}

nav a {
    padding: 15px 25px;
    color:#FFFFFF;
    text-decoration: none;    
}

nav a:hover {
    color:#000000;
    background:#FFFFFF;
}

.profile-thumb {
    border-radius:50%;
    border:1px solid #000000;
    padding:10px;
}

.content-home {
    display:flex;
    margin-left:25px;
    margin-right:25px;
}
.thumb {
    width:30%
}
.content-text {
    width:70%;
}
footer {
    text-align:center;
}
blockquote {
    padding:25px 50px 25px 10px;
}
blockquote span {
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    .content-home {
        display:block;
    }    
    .thumb img {        
        text-align: center;
    }
    .content-home div {
        width: 100%;
    }
}